<div>
  <md-input-container class="search">
    <input mdInput placeholder="Search" (input)="setFilter($event.target.value)">
  </md-input-container>
  <md-select placeholder="Order by" (change)="setOrder($event.value)">
    <md-option value="name">Name</md-option>
    <md-option value="location">Location</md-option>
  </md-select>
  <button md-mini-fab *ngIf="asc" (click)="toggleAsc()"><md-icon>arrow_drop_up</md-icon></button>
  <button md-mini-fab *ngIf="!asc" (click)="toggleAsc()"><md-icon>arrow_drop_down</md-icon></button>
</div>
<md-list>
  <md-list-item *ngFor="let item of trips | async | tripFilter:filter | tripOrder:order:asc; let isEven=even"
                [routerLink]="['/trip/'+item.$key]"
                [ngClass]="{even: isEven}">
    <img md-list-avatar [src]="item.image ? item.image : 'assets/images/mountain-draw.jpeg'" alt="icon">
    <h1 md-line> {{item.name}} </h1>
    <p md-line>Location: {{item.location}}</p>
  </md-list-item>
</md-list>
