<h1 md-dialog-title>Create new trip</h1>
<md-dialog-content>
  <form [formGroup]="form">
    <md-input-container class="full-width">
      <input mdInput placeholder="Name" formControlName="name">
      <md-hint *ngIf="formErrors['name']">{{formErrors['name']}}</md-hint>
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Location" formControlName="location" [mdAutocomplete]="auto">
      <md-hint *ngIf="formErrors['location']">{{formErrors['location']}}</md-hint>
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let country of filteredCountries | async" [value]="country">
        {{ country }}
      </md-option>
    </md-autocomplete>
    <md-input-container class="full-width">
      <textarea mdInput placeholder="Description" formControlName="description"></textarea>
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Image url" formControlName="image">
    </md-input-container>
    <table>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Latitude" formControlName="lat">
            <md-hint *ngIf="formErrors['lat']">{{formErrors['lat']}}</md-hint>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="Longitude" formControlName="lng">
            <md-hint *ngIf="formErrors['lng']">{{formErrors['lng']}}</md-hint>
          </md-input-container>
        </td>
      </tr>
    </table>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-button [disabled]="!form.valid" (click)="createTrip()">Create trip</button>
  <button md-button md-dialog-close>Close</button>
</md-dialog-actions>
