<md-card>
  <md-card-header>
    <md-icon md-card-avatar>add_box</md-icon>
    <md-card-title>Add new trip</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-input-container class="full-width">
      <input mdInput placeholder="Name" (change)="name = $event.target.value"/>
    </md-input-container>
    <md-input-container class="full-width">
      <textarea mdInput placeholder="Description" (change)="description = $event.target.value"></textarea>
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Image url" (change)="image = $event.target.value"/>
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="save()">Save</button>
  </md-card-actions>
</md-card>
